<h2>Bookmarks</h2>

<nav class="navbar navbar-default navbar-fixed-top" id="nav-bar">
    
  <form class="form-horizontal" method="POST" action="/searches">
    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-3 col-xs-6 col-xs-offset-1">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="text" class="form-control" id="inputtext" placeholder="search" name="search[url]">
      </div>
      <button type="submit" id="search-btn" class="btn btn-default col-sm-1 col-xs-2">Search</button>

    
      <div id="login_link" class="col-sm-1 pull-right">
      <% if current_user %>
        <%= "hello, #{current_user.username}" %>
        <%= link_to "Sign Out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", login_path %>
      <% end %>
      </div> 
    </div>
  </form>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Category</th>
      <th>Bookmark</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @bookmarks.each do |bookmark| %>
      <td><%= bookmark.catagory_names %></td>
      <td><%= link_to "#{bookmark.name}", bookmark_path(bookmark) %></td>
      <td><%= bookmark.url %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3><%= link_to "Add new bookmark", new_user_bookmark_path(current_user) %></h3>
</div>