<%= form_for(@categorybookmark, html:{class:"form-horizontal", role:"form"}) do |f| %>
<%=render partial: 'category_bookmarks/errors', locals:{instance:@categorybookmark} %>

	<div class="form-group">
		<%= f.label :name, class:"col-md-2" %>
		<div class="col-sm-7">
			<%=f.text_field :name, class:"form-control" %>
		</div>
	</div>


	<div class="actions col-sm-offset-2">
		<%= f.submit class:"btn btn-primary" %>
		<%= link_to 'Cancel', category_bookmarks_path, class:"btn btn-default" %>
	</div>

	<% end %>