<!-- <div class="animated bounce"> -->
<nav class="navbar navbar-default navbar-fixed-top">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2 col-xs-6 col-xs-offset-1">
          <input type="text" class="form-control" id="inputtext" placeholder="search">
        </div>
        <button type="submit" class="btn btn-default col-sm-2 col-xs-2">Search</button>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="navbar-text"><%= image_tag("#{current_user.avatar_url}", class: "img-rounded avatar") %></li>
            <li><%= link_to "hello, #{current_user.username}", user_path(current_user)%></li>
            <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
          <% else %>
            <!-- <li><%= link_to "Login", login_path %></li> -->
            <!-- <div class="container"> -->
  <div class="row text-right">
      <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#modal">Login</a>
  </div>
<!-- </div> -->
          <% end %>
        </ul>
    </form>
  </nav>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
        <%= link_to "Login", login_path %>
        <%= link_to "Sign up here", signup_path %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>








<div id="full-width-img" class="col-sm-12">
<% @favorites.each do |favorite| %>

 <div class="logo-container col-xs-12 col-md-4 img-responsive" style="height:300px">
 <a href="<%= favorite.bookmark.url %>" target="_blank">
		<img class="logo" src="<%= favorite.bookmark.logo %>" alt>
		</a>
    </div>
 <% end %>

</div>
