
<%= form_for([@user, @bookmark], html:{class:"form-horizontal", role:"form"}) do |f| %>
<%=render partial: 'bookmarks/errors', locals:{instance:@bookmark} %>

<div class="container">
	<div class="form-group">
		<%= f.label :name, class:"col-md-2" %>
		<div class="col-sm-7">
			<%=f.text_field :name, class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :url, class:"col-md-2" %>
		<div class="col-sm-7">
			<%=f.text_field :url, class:"form-control" %>
		</div>
	</div>

	<div class="form-group">
	    <%= f.collection_check_boxes(:category_bookmark_ids, @categorybookmarks, :id, :name) do |b| %>
	        <span>
	            <%= b.check_box %>
	            <%= b.label %>
	        </span>
	    <% end %>
	  </div>

	<div class="actions col-sm-offset-2">
		<%= f.submit class:"btn btn-primary" %>
		<%= link_to 'Cancel', user_bookmarks_path(current_user), class:"btn btn-default" %>
	</div>

	<% end %>
</div>