<nav class="navbar navbar-default navbar-fixed-top">
  	
  <form class="form-horizontal" method="POST" action="/users/<%= @user.id %>/searches">
    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-3 col-xs-6 col-xs-offset-1">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="text" class="form-control" id="inputtext" placeholder="search" name="search[url]">
      </div>
      <button type="submit" id="search-btn" class="btn btn-default col-sm-1 col-xs-2">Search</button>

    
      <div id="login_link" class="col-sm-1 pull-right">
      <% if current_user %>
        <%= "hello, #{current_user.username}" %>
        <%= link_to "Sign Out", logout_path, method: :delete %>
      <% else %>
        <a href="#" id="login" class="navbar-brand" data-toggle="modal" data-target="#modal_login">Login</a>
      <% end %>
      </div> 
    </div>
  </form>
</nav>

<!-- modal window -->
<div class="modal fade" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <% if current_user %>
        <h4 class="modal-title" id="myModalLabel">Hi <%= current_user.username %></h4>
      <% end %>
      </div>
      <div class="modal-body">
       <p><%= link_to "Bookmark This!", new_user_bookmark_path(current_user) %></p>
       <p><%= link_to "Login", login_path %></p>
       <p><%= link_to "Sign up here", signup_path %></p>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- show logo part -->
<div id="full-width-img" class="col-sm-12">
<% @bookmarks.each do |bookmark| %>

 <div class="logo-container col-xs-12 col-md-4 img-responsive" style="height:300px">
 <a href="<%= bookmark.url %>" target="_blank">
		<img class="logo" src="<%= bookmark.logo %>" alt>
		</a>
    </div>
 <% end %>
</div>



<!-- search result -->
<div class="container">
<% if @result %>
  <% @result.each do |mainResult| %>
    <ul class="list-unstyled col-sm-12">
      <li class="col-sm-1"><a href="#" id="login" class="navbar-brand" data-toggle="modal" data-target="#modal_login"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
      </li>
      <li class="search-title col-sm-11"><h4><%= link_to mainResult[:name], mainResult[:url].to_s %></h4></li>
      <li class="col-sm-12"><p><%= mainResult[:description] %></p></li>
    </ul>
    <% end %>
<% end %>

<!-- go back to page -->
<p class="toTop pull-right">top page</p>
</div>

<!-- <a href="#" id="login" class="navbar-brand" data-toggle="modal" data-target="#modal_login"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a> -->



