<h1>POODLE</h1>

<%= form_for @search do |f| %>
    <%= f.label "Url" %>
    <%= f.text_field :url %><br />
    <%= f.submit 'POODLE SEARCH', :id => 'searchButton' %>
<% end %>

<br />

<div id="searchResults" class="container">
<% if @result %>
	<% @result.each do |mainResult| %>
		<div><h4><%= link_to mainResult[:name], mainResult[:url].to_s %></h4></div>
			<%= mainResult[:description] %>
			</br>
			</br>
	<% end %>
	<% end %>
</div>
